<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Formulario</title>
    </head>
    <body>
        <h1>Formulario</h1>
        <form action="#" th:action="@{/ejemplopost/addpersona}" th:object="${persona}" method=POST>
            <p><input type="text" placeholder="Nombre" th:field="*{nombre}"/></p>
            <p><input type="number" placeholder="Teléfono" th:field="*{telefono}"/></p>
            <p><input type="submit" values="enviar"/></p>
        </form>
    </body>
</html>